table {
  width: 100%;
  border-collapse: collapse;
  background-color: orange;
  border: 7px solid black;
}

th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.ligne1 {
  height: 180px;
}
.ligne2 {
  height: 25px;
}
.ligne3 {
  height: 500px;
}
.ligne4 {
  height: 50px;
}
.colonne1 {
  width: 250px;
}
.h1p1 {
  float: right;
}
.h1p2{
    margin-left:25%;
}
.imagep img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
video{
    width:300px;
    float:bottom;
}
.video{
    margin-top: 40%;
}